body{
  margin:0;
}
h1, p{
  margin: 0;
}
button{
  border:none;
  outline: none;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
}

#app {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
}


/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

@media (min-width: 1024px) {

}
